:root {
  --dark-green: #274442;
  --blue-green: #4f7375;
  --light-green: #748e81;
  --grey-green: #8fa38e;
  --another-grey-green: #a3bab4;
  --white: #e9e5e3;
}

body {
  background-image: url("public/image/background_image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Great Vibes", cursive; /* Apply the font globally */
}

.upload-label-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  padding: 0 16px; /* Add padding to give space on the sides */
}

label#uploadLabel {
  display: inline-block;
  margin: 1px 16px;
  padding: 48px 96px;
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 48px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-align: center;
  width: 100%; /* Ensure the label takes up full width */
  max-width: 300px; /* Cap the maximum width */
}

/* Media query to handle small screens */
@media (max-width: 370px) {
  label#uploadLabel {
    padding: 24px 16px; /* Reduce padding to fit smaller screens */
    max-width: 90%; /* Ensure the button doesn't exceed 90% of screen width */
    margin: 0 auto; /* Center the button horizontally */
    font-size: 24px; /* Reduce font size on very small screens */
  }

  .upload-label-container {
    width: 100%;
    padding: 0 8px; /* Add padding to ensure space on both sides */
  }
}

label#uploadLabel:hover {
  background-color: var(--blue-green);
  transform: scale(1.25);
}

label#uploadLabel:active {
  transform: scale(0.95);
}

#file {
  display: none;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 2s linear infinite;
}

#uploadStatusBox {
  margin-top: 20px;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--dark-green); /* Matches the upload label color */
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-align: left;
  width: 100%; /* Full width */
  max-width: 300px; /* Fix the width to maintain symmetry */
  height: auto; /* Adjust height automatically */
  display: flex;
  flex-direction: column; /* Ensure content is aligned vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

#uploadStatusBox::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

#uploadStatusBox::-webkit-scrollbar-thumb {
  background-color: var(--blue-green);
  border-radius: 15px;
}

#uploadStatusBox::-webkit-scrollbar-track {
  background-color: var(--dark-green);
  border-radius: 15px;
}

#uploadStatusBox .file-status {
  display: flex; /* Use flexbox for alignment */
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
}

#uploadStatusBox .status-icon {
  margin-right: 16px; /* Space between the icon and the file name */
}

#uploadStatusBox .file-status span {
  margin-top: 10px;
  display: block;
  border-radius: 15px;
}

#uploadStatusBox .file-name {
  flex-grow: 1;
  display: block;
  border-radius: 15px;
}

.max-file-note {
  font-family: "Arial Black", sans-serif;
  color: var(--dark-green);
  text-align: center;
  font-size: 18px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media (max-width: 370px) {
  .max-file-note {
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    height: auto;
  }
}
