:root {
  --dark-green: #274442;
  --blue-green: #4f7375;
  --light-green: #748e81;
  --grey-green: #8fa38e;
  --another-grey-green: #a3bab4;
  --white: #e9e5e3;
}

body {
  background-image: url("public/image/background_image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Great Vibes", cursive;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.upload-label-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

label#uploadLabel {
  display: inline-block;
  margin: 1px 16px;
  padding: 48px 96px;
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 48px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Media query to handle small screens */
@media (max-width: 420px) {
  label#uploadLabel {
    padding: 24px 16px;
    max-width: 90%;
    margin: 0 auto;
    font-size: 24px;
  }

  .upload-label-container {
    width: 100%;
    padding: 0 8px;
  }
}

/* Remove transform: scale effects and use background-color change for both hover and active states */
label#uploadLabel:hover {
  background-color: var(--blue-green);
}

/* Disable hover effect on touch devices */
@media (pointer: coarse) {
  /* When we wait for the upload - we change state of the button to indicate that it was clicked. */
  label#uploadLabel:active {
    background-color: var(--blue-green);
  }
  label#uploadLabel:hover {
    background-color: var(--dark-green); /* Same as the default color */
  }
}

#file {
  display: none;
}

#uploadStatusBox {
  width: 100%;
  max-width: 400px; /* Same as uploadLabel */
  padding: 48px 96px; /* Same as uploadLabel */
  background-color: var(--dark-green); /* Same as uploadLabel */
  color: var(--white); /* Text color */
  font-size: 16px; /* Font size like uploadLabel */
  font-weight: bold; /* Font weight like uploadLabel */
  border-radius: 15px; /* Border radius like uploadLabel */
  display: flex; /* To align content inside */
  justify-content: center; /* Center the content */
  align-items: center; /* Center the content vertically */
  transition: background-color 0.3s ease; /* Smooth transition for background */
  text-align: center; /* Center text */
  box-sizing: border-box; /* Ensure padding is included in width */
}

#uploadStatusBox::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

#uploadStatusBox::-webkit-scrollbar-thumb {
  background-color: var(--blue-green);
  border-radius: 15px;
}

#uploadStatusBox::-webkit-scrollbar-track {
  background-color: var(--dark-green);
  border-radius: 15px;
}

#uploadStatusBox .file-status {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  justify-content: center;
}

#uploadStatusBox .status-icon {
  margin-right: 16px;
}

#uploadStatusBox .file-status span {
  margin-top: 10px;
  display: block;
  border-radius: 15px;
}

#uploadStatusBox .file-name {
  flex-grow: 1;
  display: block;
  border-radius: 15px;
}

@media (max-width: 420px) {
  #uploadStatusBox {
    padding: 24px 16px; /* Adjust padding for smaller screens */
    max-width: 90%; /* Keep it responsive */
    font-size: 12px;
  }
}

.max-file-note {
  color: var(--dark-green);
  text-align: center;
  font-size: 18px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.upload-label-container-child {
  justify-content: center;
  display: flex;
  min-width: 90%;
}

@media (max-width: 420px) {
  label#uploadLabel {
    padding: 24px 16px;
    max-width: 90%;
    margin: 0 auto;
    font-size: 24px;
  }

  .upload-label-container {
    width: 100%;
  }
}

.spin-slow {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
